# Godot 4+ specific ignores
.godot/
/android/
export/Windows/CaptchaWare.exe
export/Windows/CaptchaWare.console.exe
export/Web/index.zip
export/Web/index.wasm
export/Web/index.pck
export/Web/index.js
export/Web/index.html
export/Windows/CaptchaWare.exe
export/Windows/CaptchaWare.console.exe
export/Web/index.zip
export/Web/index.wasm
export/Web/index.pck
export/Web/index.js
export/Web/index.html
export/Windows/CaptchaWare.exe
export/Windows/CaptchaWare.console.exe
export/Web/index.wasm
export/Web/index.pck
export/Web/index.js
export/Web/index.html
export/Web/index.apple-touch-icon.png
export/Web/index.apple-touch-icon.png.import
export/Web/index.audio.position.worklet.js
export/Web/index.audio.worklet.js
export/Web/index.icon.png
export/Web/index.icon.png.import
export/Web/index.png
export/Web/index.png.import
exports/web/index.apple-touch-icon.png
exports/web/index.apple-touch-icon.png.import
exports/web/index.audio.position.worklet.js
exports/web/index.audio.worklet.js
exports/web/index.html
exports/web/index.icon.png
exports/web/index.icon.png.import
exports/web/index.js
exports/web/index.pck
exports/web/index.png
exports/web/index.png.import
exports/web/index.wasm
exports/windows/CaptchaWare.exe
exports/web/index.zip
